<p>movies works!</p>
<div class="movie-card">
  <img class="movie-card-image" src="https://picsum.photos/200/300" alt="" srcset="" />
  <div class="movie-card-info">
    <div class="movie-card-info-content">
      <h3 class="movie-title">TITULO DE LA PELICULA</h3>
      <span class="movie-duration">3:00:00</span>
    </div>
    <div class="movie-stars">
      <span class="star">*</span>
    </div>
    <div class="movie-description">
        <details>
          <summary class="movie-description--text">Sinopsis</summary>
            <p>{{"contenido de la película"}}</p>
      </details>
    </div>
  </div>
</div>
