.container-box-profile{
  overflow-y: scroll;
  display: grid;
  grid-template-areas:  'left-side content-side';
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
}

.profile-img{
  grid-area: left-side;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.profile-img>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(212, 212, 212);
  padding: 30px;
  border-radius: 13px;
}

.profile-img img{
  width: 60px;
}
.profile-graphs{
  display: flex;
  flex-wrap: wrap;
}
.graph{
  margin: 40px;
  max-width: 400px;
  max-height: 400px;
}

.scrollable{
  grid-area: content-side;
  padding-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.profile-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info-title h5 {
  font-size: 20px;
}

.profile-info-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rep-change{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  select{
    width: 12rem;
    height: 2rem;
  }
}