<div class="container-box-profile">
  <div class="profile-img">
    <div>
      <img src="/assets/icon.png" alt="imagen de perfil" srcset="">
      <h4>{{'Username'}}</h4>
      <h5>{{'Name of the user'}}</h5>
    </div>
  </div>
  <div class="scrollable">
    <div class="profile-info">
      <h5> Datos personales</h5>
      <div>
        <p><strong>Dirección :</strong> {{"User Data"}}</p>
      </div>
      <div>
        <p><strong>Teléfono :</strong> {{"User Data"}}</p>
      </div>
      <div>
        <p><strong>Correo electrónico</strong> : {{"User Data"}}</p>
      </div>
      <div>
        <p><strong>Dirección :</strong> {{"User Data"}}</p>
      </div>
    </div>
    <div class="profile-graphs">
      <div class="graph">
        <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </div>
      <div class="graph">
        <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </div>
      <div class="graph">
        <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </div>
      <div class="graph">
        <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </div>
      <div class="graph">
        <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </div>
    </div>
  </div>
</div>