<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Nuevo usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        <button pButton pRipple [label]="'Eliminar'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedusuarios()" [disabled]="!selectedusuarios || !selectedusuarios.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="usuarios"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedusuarios"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Administración de usuarios</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th>Fecha de nacimiento</th>
            <th pSortableColumn="genero">Genero <p-sortIcon field="genero"></p-sortIcon></th>
            <th pSortableColumn="telefono" style="min-width:10rem">Teléfono <p-sortIcon field="telefono"></p-sortIcon></th>
            <th pSortableColumn="direccion">Dirección <p-sortIcon field="direccion"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="estado" style="min-width:10rem">username <p-sortIcon field="estado"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>
                <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
            </td>
            <td>
                {{ usuario.nombre +' '+ usuario.apellido }}</td>
            <td>{{ usuario.fecha_de_nacimiento | date}}</td>
            <td>{{ usuario.genero }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>{{ usuario.direccion }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.username }}</td>
            <td>
                <button style="margin-right: 2rem;" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="editUsuario(usuario)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUsuario(usuario)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">En total hay {{ usuarios ? usuarios.length : 0 }} usuarios.</div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="Detalles usuario" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" pInputText id="username" [(ngModel)]="usuario.username" required autofocus />
            <small class="p-error" *ngIf="submitted && !usuario.username">El nombre de usuario es requerido.</small>
        </div>
        <div class="field" *ngIf="!isModeEdited">
            <label for="password">Password</label>
            <p-password [(ngModel)]="usuario.password">
                <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Suggestions</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>At least one lowercase</li>
                        <li>At least one uppercase</li>
                        <li>At least one numeric</li>
                        <li>Minimum 8 characters</li>
                    </ul>
                </ng-template>
            </p-password>
            <small class="p-error" *ngIf="submitted && !usuario.password">El nombre es requerido.</small>
        </div>
        <hr>
        <div class="field">
            <label for="name">Cédula</label>
            <input type="text" pInputText id="name" [(ngModel)]="usuario.id" required autofocus />
            <small class="p-error" *ngIf="submitted && !usuario.id">La cédula es requerido.</small>
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="usuario.nombre" required autofocus />
            <small class="p-error" *ngIf="submitted && !usuario.nombre">El nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="lastname">Apellido</label>
            <input type="text" pInputText id="lastname" [(ngModel)]="usuario.apellido" required autofocus />
            <small class="p-error" *ngIf="submitted && !usuario.apellido">El apellido es requerido.</small>
        </div>
        <div class="field">
            <label for="birthdate">Fecha de nacimiento</label>
            <input type="date" pInputText id="birthdate" [(ngModel)]="usuario.fecha_de_nacimiento" required autofocus />
            <small class="p-error" *ngIf="submitted && !usuario.fecha_de_nacimiento">La fecha de nacimiento es requerida.</small>
        </div>
        <div class="field">
            <label for="gender">Genero</label>
            <div class="field">
                <label for="masc">Masculino</label>
                <input id="masc" type="radio" name="gender" value="M" [(ngModel)]="usuario.genero">
                <label for="fem">Femenino</label>
                <input id="fem" type="radio" name="gender" value="F" [(ngModel)]="usuario.genero">
            </div>
        </div>
        <div class="field">
            <label for="phone">Teléfono</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-phone"></i>
                </span>
                <input type="tel" pInputText id="phone" [(ngModel)]="usuario.telefono" required autofocus />
            </div>
            <small class="p-error" *ngIf="submitted && !usuario.telefono">El teléfono es requerida.</small>
        </div>
        <div class="field">
            <label for="address">Dirección</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-building"></i>
                </span>
                <input type="text" pInputText id="address" [(ngModel)]="usuario.direccion" required autofocus />
            </div>
            <small class="p-error" *ngIf="submitted && !usuario.direccion">La dirección es requerida.</small>
        </div>
        <div class="field">
            <label for="address">Email</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                </span>
                <input type="email" pInputText id="address" [(ngModel)]="usuario.email" required autofocus />
            </div>
            <small class="p-error" *ngIf="submitted && !usuario.email">La dirección de correo electrónico es requerida.</small>
        </div>
        <!-- Tipo de usuario -->
        <div class="field">
            <label for="userType">Tipo de usuario</label>
            <select id="userType" [(ngModel)]="selectedUserType">
                <option selected disabled value="null">Seleccione tipo usuario </option>
                <option value="cliente">Cliente</option>
                <option value="representante">Representante</option>
            </select>
        </div>
        <!-- Campos habilitados según el tipo de usuario -->
        <div *ngIf="selectedUserType === 'cliente'">
            <div class="field">
                <label for="ciudad">Ciudad</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-globe"></i>
                    </span>
                    <select id="ciudad" [(ngModel)]="usuario.ciudad">
                        <option selected disabled value="null">Seleccione Ciudad </option>
                        <option *ngFor="let ciudad of ciudadesList" [value]="ciudad.codigo">{{ ciudad.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div *ngIf="selectedUserType === 'representante'">
            <div class="field" *ngIf="!isModeEdited">
                <label for="contrato">Contrato</label>
                <input type="date" pInputText id="contrato" [(ngModel)]="usuario.contrato" required autofocus />
                <small class="p-error" *ngIf="submitted && !usuario.contrato">El contrato es requerido.</small>
            </div>
            <div class="field">
                <label for="pais">País</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-globe"></i>
                    </span>
                    <select id="pais" [(ngModel)]="usuario.pais" (change)="onloadRegion($event)">
                        <option selected disabled value="null">Seleccione País</option>
                        <option *ngFor="let pais of paisesList" [value]="pais.id">{{ pais.nombre }}</option>
                    </select>
                </div>
            </div>
            <div class="field" *ngIf="usuario.pais !== null">
                <label for="region">Región</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-globe"></i>
                    </span>
                    <select id="region" [(ngModel)]="usuario.region" *ngIf="regionesList.length !=0">
                        <option selected disabled value="null">Seleccione Región</option>
                        <option *ngFor="let region of regionesList" [value]="region.region">{{ region.nombre }}</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label for="clasificacion">Clasificación</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-globe"></i>
                    </span>
                    <select id="clasificacion" [(ngModel)]="usuario.clasificacion">
                        <option selected disabled value="null">Seleccione clasificación</option>
                        <option *ngFor="let region of clasificacionList" [value]="region.id">{{ region.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveUsuario()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>