<div class="container-box">
  <div class="left-bar">
    <div>
      <app-side-bar></app-side-bar>
    </div>
  </div>
  <div class="top-bar">
    <app-top-bar></app-top-bar>
  </div>
  <div class="content">
    <!-- <div *ngIf="href !== '/admin'" class="content-board"> -->
    <div class="content-board">
      <router-outlet></router-outlet>
      <!-- <div *ngIf="href == '/admin'">
        <app-deadline></app-deadline>
      </div> -->
    </div>
    <!-- <div *ngIf="href == '/admin'" class="content-board-menu">
      <div class="banner-menu">
        <img src="https://picsum.photos/1685/300" alt="" srcset="">
      </div>
      <h1>Menú principal</h1>
      <div class="cards-container">
        <div class="menu-card" *ngFor="let item of [1,2,3,4,5,6]">
          <img src="/assets/icon.png" alt="" class="card-image">
          <div class="text-card">
            <p class="card-title">{{'Mi perfil'}}</p>
            <button pButton type="button" icon="pi pi-check" class="p-button-text p-button-secondary" [label]="'Ingresar'"></button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>