<div class="container-box">
  <div class="page-center">
    <a [routerLink]="href" target="_blank" rel="noopener noreferrer">
      <img src="assets/icon.svg" alt="ud apps icon" id="icon">
    </a>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; color: #333333;">
      <h1> ⚒️ <br> <span style="font-size: medium;">Página en construcción</span></h1>
    </div>
    <p-button icon="pi pi-home" label="Inicio" [routerLink]="href"></p-button>
  </div>
</div>
