<div class="container-box">
  <div class="header-wrapper">
    <h1>Proyecto <br>CineDistrito</h1> <h1>Fundamentos <br> Ingeniería <br> de software</h1> 
    <div class="references">
      <p>Links importantes:</p>
        <ul>
          <li><a routerLink="/login" >Ingreso a la plataforma</a></li> 
          <li><a [href]="docs" target="_blank" >Documentación</a></li>    
          <li><a [href]="cronograma" target="_blank" >Cronograma</a></li>
          <li><a [href]="repositorio" target="_blank" >Repositorio</a></li>    
          <li><a [href]="me" target="_blank" >Juferoga</a></li> 
          
        </ul>
    </div>
    <b class="red-line"></b>
  </div>
</div>
