html{
  min-height: 100%;
  font-family: 'Courier New', Courier, monospace;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.logo{
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo img, p{
  width: 170px;
  align-self: center;
  text-align: center;
}
.btn{
  align-self: center;
  text-align: center;
  width: 50px;
  padding: 10px;
  background-color: lightcyan;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  border: #333 solid 2px;
  border-radius: 15px;
}