<div class="container-box">
  <div class="loginbox">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h1>Inicia sesión</h1>
      <div class="mb-3">
        <label for="" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Tu nombre de usuario en la plataforma</small>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Tu contraseña de usuario en la plataforma</small>
      </div>
      <button type="submit"  class="btn btn-primary" [disabled]="!loginForm.valid">Enviar</button>
    </form>
  </div>
</div>
