<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
          <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
      </ng-template>

      <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
          <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      </ng-template>
  </p-toolbar>

  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" [tableStyle]="{'min-width': '75rem'}"
      [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Muestra {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Gestión Products</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <!-- TODO: Averiguar porque no sirve :) -->
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
              <th>Descripción</th>
              <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon></th>
              <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
              <th pSortableColumn="categoria" style="min-width:10rem">Categoría <p-sortIcon field="categoria"></p-sortIcon></th>
              <th pSortableColumn="quantity">Cantidad <p-sortIcon field="quantity"></p-sortIcon></th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>
                  <p-tableCheckbox [value]="product"></p-tableCheckbox>
              </td>
              <td>{{product.nombre}}</td>
              <td>{{product.descripcion}}</td>
              <td>{{product.precio | currency}}</td>
              <td><span [class]="'product-badge status-' + (product.estado ? product.estado.toLowerCase() : '')">{{product.estado}}</span></td>
              <td>{{product.categoria}}</td>
              <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              En total hay {{products ? products.length : 0 }} productos.
          </div>
      </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="field">
          <label for="name">Nombre</label>
          <input type="text" pInputText id="name" [(ngModel)]="product.nombre" required autofocus />
          <small class="p-error" *ngIf="submitted && !product.nombre">Nombre es requerido.</small>
      </div>
			<label for="description">Descripción</label><br/>
      <div class="field p-inputgroup description">
          <textarea id="description" pInputTextarea [(ngModel)]="product.descripcion" required  rows="5" cols="30"></textarea>
      </div>

      <div class="field">
          <label for="inventoryStatus">Estado</label>
          <p-dropdown [(ngModel)]="product.estado" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
              <ng-template let-option pTemplate="item">
                  <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
              </ng-template>
          </p-dropdown>
      </div>

      <div class="field">
          <label class="mb-3">Categoría</label>
          <div class="formgrid grid">
              <div class="field-radiobutton col-6">
                    <!-- TODO: Consulta categorías -->
                  <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.categoria"></p-radioButton>
                  <label for="category1">Accessories</label>
              </div>
          </div>
      </div>

      <div class="formgrid grid">
        
          <div class="field col">
              <label for="price">Precio</label>
              <div class="p-inputgroup">
									<span class="p-inputgroup-addon">$</span>
									<input type="text" pInputText [(ngModel)]="product.precio" placeholder="Price" required autofocus  />
							</div>
          </div>
          <div class="field col">
              <label for="quantity">Cantidad</label>
              <div class="p-inputgroup">
									<input type="text" pInputText [(ngModel)]="product.cantidad" placeholder="xxxx" required autofocus  />
									<span class="p-inputgroup-addon">und.</span>
							</div>
          </div>
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>
