
<p-tabView>
  <p-tabPanel header="Mejor vendedor">
    <div class="card">
      <p-chart type="bar" [data]="data" [options]="options"></p-chart>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Regionales con más ventas">
    <div class="card flex justify-content-center">
      <p-chart type="polarArea" [data]="data" [options]="options"></p-chart>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Producto mas vendido">
    <div class="card flex justify-content-center">
      <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    </div>
  </p-tabPanel>
</p-tabView>